<input class="input_title" type="text" value="<%= title %>"/>
<span class="btns">
	<button class="btn btn-sm btn-primary btn_save_column">Save</button>
	<button class="btn btn-sm btn_cancel_column">&times;</button>
</span>
