<button class="btn btn-xs btn_delete_column">&times;</button>
<div class="title"><%= title %></div>
<div class="tasks"></div>
<button class="btn btn-xs btn_json">toJSON</button>
<button class="btn btn-xs btn-primary btn_add_task">Add task</button>

