<textarea class="input_content"><%= content %></textarea>
<div class="btns">
	<button class="btn btn-xs btn-primary btn_save_task">Save</button>
	<button class="btn btn-xs btn_cancel_task">&times;</button>	
</div>
